<!DOCTYPE html SYSTEM "http://thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <nav th:fragment="navbar" id="topnav" class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">

      <a class="navbar-brand d-flex align-items-center" href="#">
        <img src="/images/logo.png" alt="Cyberia logo" loading="lazy" />
      </a>

      <!-- Toggle (BS4) -->
      <button class="navbar-toggler" type="button"
              data-toggle="collapse" data-target="#navbarButtonsExample"
              aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapsible -->
      <div class="collapse navbar-collapse" id="navbarButtonsExample">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#" th:text="#{nvar.about}"></a>
          </li>
        </ul>

        <div class="form-inline my-2 my-lg-0">
          <a class="btn btn-link mr-2" th:href="@{/login}" th:text="#{nvar.login}"></a>
          <a class="btn btn-primary mr-2" href="#" th:text="#{nvar.info}"></a>
          <a class="btn btn-dark" th:text="#{nvar.web}" href="https://github.com/" role="button">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>

    </div>
  </nav>
</html>
